<mat-card>
<div class="row">

  <div class="col-sm-4 blog-latest-intro">
    <h2 class="">Are you down with the sickness?</h2>
    <p>Check out my latest articles</p>
  </div>

      <div >
          <div>
            <mat-card class="example-card" class="col-sm-4">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-header>
                <mat-card-title>test</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  These should be post summaries test
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <a [routerLink]="['/blog', post.id]" routerLinkActive="active" href="#">Read More...</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
</mat-card>

