<main class="blog-page">
  <h1 class="blog-headline">Blog</h1>
  <ul class="post-categories">
    <li class="category">Tech</li>
    <li  class="category">Society</li>
    <li  class="category">Politics</li>
    <li  class="category">Film/TV</li>
  </ul>
  <app-post-list></app-post-list>
  <form class="search form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</main>

